<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <notifier.Properties.Settings>
            <setting name="RunAtWindowsStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskonExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumericDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StepDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="SpamNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrivacyNotification" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Français</value>
            </setting>
            <setting name="MessageNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdatePeriod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpdateControl" serializeAs="String">
                <value>01/01/2017 12:00:00</value>
            </setting>
            <setting name="UpdateRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationBehavior" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UpdateQuiet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioPop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Scheduler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SchedulerTimeSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>-</value>
            </setting>
        </notifier.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.20.0.0" newVersion="1.20.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.14.0.0" newVersion="1.14.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.20.0.0" newVersion="1.20.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <notifier.Properties.Settings>
      <setting name="GITHUB_REPOSITORY" serializeAs="String">
        <value>https://github.com/xavierfoucrier/inbox-notifier</value>
      </setting>
      <setting name="GMAIL_BASEURL" serializeAs="String">
        <value>https://mail.google.com/mail/u/0</value>
      </setting>
      <setting name="MAX_AUTO_RECONNECT" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="INTERVAL_RECONNECT" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UNSTACK_BOUNDARY" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SITE_YUSUKE" serializeAs="String">
        <value>http://p.yusukekamiyamane.com</value>
      </setting>
      <setting name="SITE_AUTHOR" serializeAs="String">
        <value>https://www.xavierfoucrier.fr</value>
      </setting>
      <setting name="REGISTRY_KEY" serializeAs="String">
        <value>SOFTWARE\Microsoft\Windows\CurrentVersion\Run</value>
      </setting>
      <setting name="OAUTH_TIMEOUT" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="APPLICATION_NAME" serializeAs="String">
        <value>Inbox Notifier</value>
      </setting>
      <setting name="UPDATE_SERVICE_NAME" serializeAs="String">
        <value>Inbox Notifier Update</value>
      </setting>
      <setting name="LOG_FILE" serializeAs="String">
        <value>app.log</value>
      </setting>
      <setting name="DNS_REGISTRY_IP" serializeAs="String">
        <value>1.1.1.1</value>
      </setting>
    </notifier.Properties.Settings>
  </applicationSettings>
</configuration>
