<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <notifier.Properties.Settings>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskonExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumericDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StepDelay" serializeAs="String">
                <value>minute(s)</value>
            </setting>
            <setting name="AudioNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="SpamNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetworkConnectivityNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrivacyNotification" serializeAs="String">
                <value>Afficher une partie du contenu du message</value>
            </setting>
        </notifier.Properties.Settings>
    </userSettings>
</configuration>
